{% extends "includes/_customer_base_guest.html" %}
{% block title %}Solace - Login User{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">
                Welcome to Solace.
            </h1>
            <p class="col-lg-10 fs-4">
                yes, clothes. 
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">

                <p class="fw-bold">
                    {% if msg %}
                        {{ msg | safe }}
                    {% else %}
                        LOGIN
                    {% endif %}                                  
                </p>

                <!-- {% with messages = get_flashed_messages()%}
                {% if messages %}
                <div class="alert bg-danger mt-5">
                    <button type="button" class="close btn btn-dark" data-dismiss="alert">&times;</button>
                    <span class="text-light fs-5 text-center">{{ messages[0] }}</span>
                </div>
                {% endif %}
                {% endwith %} -->

                <br />
                <div class="container">
                <br>
                <form action="" method="post">
                    {{ render_field(form.email, class="form-control") }}
                    {{ render_field(form.password, class="form-control") }}
                    <br>

                    {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}
                    {% endif %}
                    </div>

                    <br/>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <a class="text-right"><input type="submit" value="Sign In" class="btn btn-primary"/></a>
                </form>
                <hr class="my-4">
            <small class="text-muted">
                Dont have an account? <a href="{{ url_for('register_user') }}" class="text-right">Register</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}