<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <form action="sign_up_data.html" method="post">
      <label for="name">Full Name:</label>
      <input type="text" id="name" name="name" required>
      <br>
      <label for="phone">Phone Number:</label>
      <input type="tel" id="phone" name="phone" required>
      <br>
      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" required>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <br>
      <label for="birthday">Birthday:</label>
      <input type="date" id="birthday" name="birthday" required>
      <br>
      <label for="gender">Gender:</label>
      <select id="gender" name="gender" required>
        <option value="">Select</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      <br>
      <input type="submit" value="Sign Up" href="sign_up_data.html">
    </form>
  </body>
</html