.cssanimation {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.cssanimation-2 {
    animation-duration: 0.7s;
    animation-fill-mode: both;
}


.fadeInTop { animation-name: fadeInTop }
@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to { opacity: 1 }
}

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}