/* Global Colour Theme Variables */

:root {
    --theme-pink: #F5CEBC;
    --theme-orange: #E8A165;
    --theme-cream: #FAEBD9;
    --theme-light-cream: #FDF7F0;
    --theme-black: #212420;
}

.bg-theme-1 { background-color: var(--theme-pink); }

.bg-theme-2 { background-color: var(--theme-light-cream); }

.staff-nav-active { background-color: var(--theme-cream); }

.logo-font { 
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Send Flowers', cursive;
}

.vh-100 { height: 100vh; }

.width-20 { width: 20%; }

.width-80 { width: 80%; }

.nav-item:hover { background-color: var(--theme-light-cream);}

.nav-item:target { background-color: var(--theme-cream); }

body { background-color: var(--theme-light-cream) !important; }