{% extends "_customer_base_guest.html" %}
{% block title %} Solace Staff Delete {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }

    h1  {text-align: center;
       padding: 20px 0px;}

    form  {margin:50px;}

    form, input {border: 15px;}
  </style>
{% endblock %}

{% block content %} 


  <h1>Answering Inquiries</h1>

  <style>
    td      {padding: 10px;}
    th      {padding: 10px;}
    tr      {padding: 10px;}

    table   {margin: 50px 0px;
             border: 2px;
             text-align: center;
             font-size: large;
             }
    .center {
                margin-right: 20em;
                margin-left: 20em;
            }
</style>


<div class="">
    <table class="center">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Inquiry</th>
            <th rowspan="2">Reply</th>
        </tr>
        {% for id in inquiries %}
        <tr>
            <td>{{ id[0] }}</td>
            <td>{{ id[1] }}</td>
            <td>{{ id[2] }}</td>
            <td>{{ id[3] }}</td>
            <td>{{ id[4] }}</td>
            <td>{{ id[5] }}</td>
            <td>{{ id[6] }}</td>
            <td>{{ id[7] }}</td>
            <td>{{ id[8] }}</td>
            <td>{{ id[9] }}</td>
            <td>{{ id[10] }}</td>
            <td>{{ id[11] }}</td>
            <td>{{ id[12] }}</td>
            <td>{{ id[13] }}</td>
            <td>{{ id[14] }}</td>
            <td>{{ id[15] }}</td>
            <td>{{ id[16] }}</td>
            <td>{{ id[17] }}</td>
            <td>{{ id[18] }}</td>
            <td>{{ id[19] }}</td>
            <td>{{ id[20] }}</td>
            <td>{{ id[21] }}</td>
            <td>{{ id[22] }}</td>
            <td>{{ id[23] }}</td>

        </tr>
        {% endfor %}
    </table>
</div>

  <form action="#" method="post">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Id</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Question Id" name = 'id' required>
    </div>
    
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>

  </form>


{% endblock %}

